.wrapper {
  height: 100vh;
  overflow: hidden;
}
.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
  width: 100%;
  margin-top: 20px;
}
.box {
  /* position: absolute;
  top: 50%;
  transform: translateY(-50%); */
  height: 90vh;
  display: flex;
  width: 100%;
  overflow: hidden;
  padding-bottom: 20px;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.codespace {
  /* width: 100%; */
  white-space: break-spaces;
  word-wrap: break-word;
  font-size: 1.5rem;
  padding: 20px;
  font-family: "Open Sans", sans-serif;
}

.box > * {
  width: 45%;
  height: 100%;
  border-radius: 10px;
}
.code {
  position: relative;
  height: 100%;
  background-color: #282a36;
  color: white;
  white-space: pre-wrap;
  overflow-y: auto;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.text {
  padding: 10px 20px;
  font-size: 1.5rem;
  color: #282a36;
  width: 90%;
  resize: none;
  height: 100%;
  border-radius: 10px;
}
.button {
  font-size: 1.5rem;
  padding: 10px 20px;
  border-radius: 7px;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  background-color: #8be9fd;
  color: #282a36;
}
.button:hover {
  background-color: #00a8d2;
}

.loader {
  width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.line {
  margin: 10px 0;
}

@media (max-width: 1024px) {
  .box > * {
    width: 90%;
  }
  .text {
    border-radius: 10px;
    width: 100%;
  }
  .box {
    flex-direction: column;
  }
  .form {
    height: 40%;
  }
  .code {
    margin: 0 20px;
    height: 40%;
    overflow-y: auto;
  }
}
